
	<div class="col-md-offset-1 col-md-6  col-xs-12 hidden-print">
		<h3 class="">
			Filtrer par :
			<span class="small">
				<a class="" role="button" data-toggle="collapse" href="#filter_container" aria-expanded="false" aria-controls="filter_container">
	  				afficher / cacher le filtre
				</a>
			</span>
		</h3>
		<div id="filter_container" class="collapse in">
			{{ form_start(form, { 'attr': {'id' : 'clients-filter'} }) }}

			{% if is_granted('ROLE_SIEGE') %}
				<div class="form-group">
					<label class="col-xs-4 control-label">Retail Manager :</label>
					<div class="col-xs-8">				
						{{ form_widget(form.retailManager, { 'attr': {'class' : 'form-control ajax', 'isSubmit': 'no'} }) }}						
					</div>
				</div>
			{% endif %}
			{% if is_granted('ROLE_DIRECTEUR') and form.libelleBoutiqueRattachement is defined %}
			<div class="form-group">
					<label class="col-xs-4 control-label">Boutiques :</label>
					<div class="col-xs-8">					
						{{ form_widget(form.libelleBoutiqueRattachement, { 'attr': {'class' : 'form-control ajax', 'isSubmit': 'no'} }) }}
					</div>
				</div>
			{% endif %}

			<div class="form-group">
				<label class="col-xs-4 control-label">Pays :</label>
				<div class="col-xs-8">					
					{{ form_widget(form.local, { 'attr': {'class' : 'form-control', 'isSubmit': 'no'} }) }}
				</div>
			</div>

			<div class="form-group {% if app.request.attributes.get('_route') in ['app_top_client_index','app_top_client_sortant'] %}hidden{% endif %}">
				<label class="col-xs-4 control-label">Code vendeur :</label>
				<div class="col-xs-8">					
					{{ form_widget(form.codevendeur, { 'attr': {'class' : 'form-control', 'placeholder': 'Code vendeur'} }) }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-4 control-label">Client :</label>
				<div class="col-xs-8">					
					{{ form_widget(form.fullName, { 'attr': {'class' : 'form-control', 'placeholder': 'Prénom et/ou nom'} }) }}
				</div>
			</div>

			<div class="form-group {% if app.request.attributes.get('_route') in ['app_top_client_index','app_top_client_sortant'] %}{% else %}hidden{% endif %}">
				<label class="col-xs-4 control-label">Autres critères :</label>
				<div class="col-xs-8">					
					{{ form_widget(form.filters, { 'attr': {'class' : 'form-control', 'isSubmit': 'no'} }) }}
				</div>
			</div>
			
			<div class="form-group col-md-6 col-xs-6 pull-right">
				{% if app.request.attributes.get('_route') in ['app_top_client_index','app_top_client_sortant'] %}
				{{ form_widget(form.submit, {'attr': {'class': 'btn big-action-gray-btn'}, 'label' : 'Filtrer'}) }}
				{% else %}
				{{ form_widget(form.submit, {'attr': {'class': 'btn big-action-gray-btn'}, 'label' : 'Filtrer'}) }}
				{% endif %}
			</div>

			{{ form_end(form) }}	
		</div>
	</div>