{% extends "AppBundle::layout.html.twig" %}

{% block content %}
	<div class="col-xs-12">
	<h3>Historique de tracking des campagnes</h3>

		<div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Campagnes</th>
						<th class="text-center">Emails</th>
						<th class="text-center">Courriers</th>
						<th class="text-center">Appels</th>
						<th class="text-center">SMS</th>
						<th class="text-center">Ouvreurs</th>
						<th class="text-center">Ouvertures</th>
						<th class="text-center">Cliqueurs</th>
						<th class="text-center">Clics</th>
						<th class="text-center">Hard bounces</th>
						<th class="text-center">Soft bounces</th>
						<th class="text-center">Désinscriptions</th>
						<!--th>Requête</th-->
					</tr>
				</thead>
				<tbody>
					{% for tracking in trackings %}
						<tr {% if not is_granted("ROLE_ADMIN") and tracking.campaign.name == "test_admin" %}class="hidden"{% endif %}>
							<td>{{ tracking.campaign.name }}</td>
							<td class="text-center">{{ tracking.emailsSent|number_format(0, ',', ' ')  }}</td>
							<td class="text-center">{{ tracking.mailsSent|number_format(0, ',', ' ')  }}</td>
							<td class="text-center">{{ tracking.phoneCalls|number_format(0, ',', ' ')  }}</td>
							<td class="text-center">{{ tracking.smsSent|number_format(0, ',', ' ')  }}</td>
							<td class="text-center">{{ tracking.opensOnce|number_format(0, ',', ' ')  }}</td>
							<td class="text-center">{{ tracking.opens|number_format(0, ',', ' ')  }}</td>
							<td class="text-center">{{ tracking.clicsOnce|number_format(0, ',', ' ')  }}</td>
							<td class="text-center">{{ tracking.clics|number_format(0, ',', ' ')  }}</td>
							<td class="text-center">{{ tracking.hardBounce|number_format(0, ',', ' ')  }}</td>
							<td class="text-center">{{ tracking.softBounce|number_format(0, ',', ' ')  }}</td>
							<td class="text-center">{{ tracking.unsuscribes|number_format(0, ',', ' ')  }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
