{% extends "AppBundle::layout.html.twig" %}

{% block subheader %}
	{% include 'AppBundle:Commons:kpiNav.html.twig' %}
{% endblock %}

{% block content %}	
	{% block clientsFilter %}
		{% include 'AppBundle:Commons:kpiFilter.html.twig' %}
	{% endblock %}

	<div class="col-xs-9">
		<h3 class="text-uppercase gris">Classement des boutiques pour la réalisation des campagnes automatisées {{ getMonthWording(month, "de") }}&nbsp;{{ year }}</h3>
	</div>
	<div class="col-xs-3">
		<br />
		<a class="btn big-action-gray-btn hidden-print" style="font-size:14px;" onclick="window.print();"><i class="fa fa-print" aria-hidden="true"></i> Imprimer la page</a>
	</div>

	<div class="col-xs-12">
		<div>

		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    	<li role="presentation" class="active"><a href="#Global" aria-controls="WB" role="tab" data-toggle="tab">Capture</a></li>
		    	<li role="presentation"><a href="#AA" aria-controls="AA" role="tab" data-toggle="tab">Anniversaire d'achat</a></li>
		    	<li role="presentation"><a href="#WP" aria-controls="WP" role="tab" data-toggle="tab">Remerciement nouveau client</a></li>
		    	<li role="presentation"><a href="#WB" aria-controls="WB" role="tab" data-toggle="tab">Remerciement déjà client</a></li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">

		    <div role="tabpanel" class="tab-pane active" id="Global">
		    	<table class="table table-striped datatables">
					<thead>
						<tr>
							<th class="col-xs-2">Rang</i></th>
							<th class="col-xs-7 text-center">Boutiques</i></th>
							<th class="col-xs-3 text-center">% de capture valide</i></th>
						</tr>
					</thead>
					<tbody>
							{% for top in topGlobal %}
								<tr>
									<td class="col-xs-2">
										<strong>#{{ loop.index }}</strong>
									</td>
									<td class="col-xs-7">
										<ul>
											{% set boutiques = top.list|split(',') %}
											{% for boutique in boutiques %}
												<li class="col-xs-4">{% if boutique == "Pop Up Store A" %}G.L Rennes{% else %}{{ boutique }}{% endif %}</li>
											{% endfor %}
										</ul>
									</td>
									<td class="col-xs-3 text-center"><strong>{{ top.pct|number_format('1',',',' ') }} %</strong></td>
								</tr>
							{% endfor %}
						</tbody>
				</table>
		    </div>
		    <div role="tabpanel" class="tab-pane" id="AA">

				<table class="table table-striped datatables">
					<thead>
						<tr>
							<th class="col-xs-2">Rang</i></th>
							<th class="col-xs-7 text-center">Boutiques</i></th>
							<th class="col-xs-3 text-center">% de clients contactés</i></th>
						</tr>
					</thead>
					<tbody>
						{% for top in topAA %}
							<tr>
								<td class="col-xs-2">
									<strong>#{{ loop.index }}
								</td>
								<td class="col-xs-7">
									<ul>
										{% set boutiques = top.list|split(',') %}
										{% for boutique in boutiques %}
											<li class="col-xs-4">{% if boutique == "Pop Up Store A" %}G.L Rennes{% else %}{{ boutique }}{% endif %}</li>
										{% endfor %}
									</ul>
								</td>
								<td class="col-xs-3 text-center"><strong>{{ top.pct|number_format('1',',',' ') }} %</strong></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
		    </div>
		    <div role="tabpanel" class="tab-pane" id="WP">

				<table class="table table-striped datatables">
					<thead>
						<tr>
							<th class="col-xs-2">Rang</i></th>
							<th class="col-xs-7 text-center">Boutiques</i></th>
							<th class="col-xs-3 text-center">% de clients contactés</i></th>
						</tr>
					</thead>
					<tbody>
						{% for top in topWP %}
							<tr>
								<td class="col-xs-2">
									<strong>#{{ loop.index }}
								</td>
								<td class="col-xs-7">
									<ul>
										{% set boutiques = top.list|split(',') %}
										{% for boutique in boutiques %}
											<li class="col-xs-4">{% if boutique == "Pop Up Store A" %}G.L Rennes{% else %}{{ boutique }}{% endif %}</li>
										{% endfor %}
									</ul>
								</td>
								<td class="col-xs-3 text-center"><strong>{{ top.pct|number_format('1',',',' ') }} %</strong></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
		    </div>
		    <div role="tabpanel" class="tab-pane" id="WB">
		    	<table class="table table-striped datatables">
					<thead>
						<tr>
							<th class="col-xs-2">Rang</i></th>
							<th class="col-xs-7 text-center">Boutiques</i></th>
							<th class="col-xs-3 text-center">% de clients contactés</i></th>
						</tr>
					</thead>
					<tbody>
							{% for top in topWB %}
								<tr>
									<td class="col-xs-2">
										<strong>#{{ loop.index }}
									</td>
									<td class="col-xs-7">
										<ul>
											{% set boutiques = top.list|split(',') %}
											{% for boutique in boutiques %}
												<li class="col-xs-4">{% if boutique == "Pop Up Store A" %}G.L Rennes{% else %}{{ boutique }}{% endif %}</li>
											{% endfor %}
										</ul>
									</td>
									<td class="col-xs-3 text-center"><strong>{{ top.pct|number_format('1',',',' ') }} %</strong></td>
								</tr>
							{% endfor %}
						</tbody>
				</table>
		    </div>
		  </div>

		</div>

	</div>
	<div class="spacer" style="height:20px;"></div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}

    <script type="text/javascript" src="{{ asset('web/js/datatables/datatables.min.js') }}"></script>
	<script type="text/javascript">
		 $(function(){
		 	$("a.btn-collapse").on("click", function(){
		 		if( $(this).attr('data') == "close" ){
		 			$(this).children('h4').children('i').addClass('fa-minus').removeClass('fa-plus');
		 			$(this).attr('data','open')
		 		}
		 		else{
		 			$(this).children('h4').children('i').removeClass('fa-minus').addClass('fa-plus');	
		 			$(this).attr('data','close')
		 		}
		 	});


			$('.datatables').dataTable(
			{
				"paging":   true,
		        "info":     false,
		        "lengthMenu": [ 10, 20, 30, 40, 50, 60, 70, 80 ],
		        "order": [[ 2, "desc" ]],
		        "language": {
	                "sProcessing":     "Traitement en cours...",
				    "sSearch":         "Rechercher&nbsp;:",
				    "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
				    "sInfo":           "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
				    "sInfoEmpty":      "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
				    "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
				    "sInfoPostFix":    "",
				    "sLoadingRecords": "Chargement en cours...",
				    "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
				    "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
				    "oPaginate": {
				        "sFirst":      "Premier",
				        "sPrevious":   "Pr&eacute;c&eacute;dent",
				        "sNext":       "Suivant",
				        "sLast":       "Dernier"
				    },
				    "oAria": {
				        "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
				        "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
				    }
	            },
	            "columnDefs": [
				    { "searchable": false, "targets": [0,2] },
				    { "sortable": false, "targets": [0,1] },
				]
			}
				);
		 });
	</script>
{% endblock %}